<h1>Members</h1>

<table class="alt">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>      
    </tr>
  </thead>
  <tbody *ngFor="let member of members" (click)="memberClicked(member)">
        <tr >
          <td>{{member.id}}</td>
          <td>{{member.name}} {{member.surname}}</td>          
          <td>{{member.phone}}</td>
        </tr>
      </tbody>
</table>
<button class="button primary" (click)="newMember()">New Member</button>


<router-outlet></router-outlet>